@import '../../shared/shared.css';
.intro-line {
    position: absolute;
    width: 3em;
    height: 0.2em;
    top: 18.5vh;
    right: 27vw;
}

.intro-s-154 {
    position: absolute;
    bottom: 0;
    height: 4.5em;
}

.intro-s-157 {
    position: absolute;
    bottom: 0;
    height: 5em;
}

.intro__shapes--hide {
    display: initial;
}

/* === TABLET === */

@media screen and (max-width: 1024px) {
    .intro__bottom-container {
        min-height: 0;
    }
    .intro-line {
        right: 22vw;
        width: 2.6em;
    }
    .intro-s-79 {
        top: 18vh;
        right: 28vw;
    }
}

/* === SMALL DESKTOP === */

@media screen and (max-width: 640px) {}

/* === PHONE === */

@media screen and (max-width: 414px) {
    .intro__bottom-container {
        min-height: 0;
    }
}