@import '../shared/shared.css';

/* === DESKTOP === */



.astro-test__sign-in {
    font-style: normal;
    font-weight: normal;
    font-size: 0.6em;
    line-height: 1em;
    color: #333F48;
}

.astro-test__agreement {
    width: 25em;
    margin: 0 auto;
    font-style: normal;
    font-weight: normal;
    font-size: 0.5em;
    line-height: 1.2em;
    text-align: center;
    color: #333F48;
}

.astro-test__banner-panel {
    width: 50%;
    height: 100%;
    background: url('images/bkg3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.astro-test__banner {
    height: 45%;
    background: #fff;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.astro-test__banner-text {
    width: 80%;
    margin: 0 auto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.3em;
    line-height: 1.1em;
    text-align: center;
    color: #DA4480;
}

/* === TABLET === */

@media screen and (max-width: 1024px) {    
        
    
    
    
    
    .astro-test__banner-panel {
        width: 100%;
        height: 45%;
        border-radius: 0.4em;
        background: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .astro-test__banner {
        height: 80%;
        background: #fff;
        opacity: 0.8;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 0.4em;
    }
    .astro-test__banner-text {
        font-size: 1.2em;
    }
}

/* === SMALL DESKTOP === */



/* === PHONE === */

@media screen and (max-width: 414px) {    
    
    
    
    
    
    .astro-test__banner-panel {
        width: 100%;
        height: 24%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .astro-test__banner {
        height: 60%;
        background: #fff;
        opacity: 0.8;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .astro-test__banner-text {
        width: 80%;
        margin: 0 auto;
        font-style: normal;
        font-weight: bold;
        font-size: 0.96em;
        line-height: 1.2em;
        text-align: center;
        color: #DA4480;
    }
}