@import '../shared/shared.css';

/* === DESKTOP === */














.nice-button--gender {
    width: 9.4em;
    height: 3em;
    padding: 0.7em;
    box-shadow: none;
    border-radius: 2em;
    font-weight: normal;
}

.nice-button--male {
    background: #EFF0F5;
    color: #333F48;
}

.nice-button--male-symbol {
    font-size: 1em;
}

.nice-button--female {
    background: #626BA3;
    color: #fff;
}

.nice-button--female-symbol {
    font-size: 1em;
}

.nice-button--pict {
    position: relative;
    top: -0.2em;
    width: 1.7em;
    height: 1.6em;
}

.astro-test__dob {
    width: 11em !important;
}

.astro-test__dob-date {
    width: 100%;
    display: flex;
    justify-content: baseline;
}

.astro-test__dob-day {
    flex-basis: 30% !important;
    font-size: 0.5em !important;
    height: 2.8em !important;
    margin-right: 0.2em;
}

.astro-test__dob-month {
    flex-basis: 48% !important;
    font-size: 0.5em !important;
    height: 2.8em !important;
    margin-right: 0.2em;
}

.astro-test__dob-year {
    flex-basis: 30% !important;
    font-size: 0.5em !important;
    height: 2.8em !important;
}

.nice-button--astro-test {
    font-style: normal;
    font-weight: normal;
    padding: 1.2em;
    width: 19.6em;
    height: 3.5em;
}

.nice-button--astro-test_get_started {
    background: #DA4480;
}

.astro-test__sign-in {
    font-style: normal;
    font-weight: normal;
    font-size: 0.6em;
    line-height: 1em;
    color: #333F48;
}

.astro-test__agreement {
    width: 25em;
    margin: 0 auto;
    font-style: normal;
    font-weight: normal;
    font-size: 0.5em;
    line-height: 1.2em;
    text-align: center;
    color: #333F48;
}

.astro-test__banner-panel {
    width: 50%;
    height: 100%;
    background: url('images/bkg3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.astro-test__banner {
    height: 45%;
    background: #fff;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.astro-test__banner-text {
    width: 80%;
    margin: 0 auto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.3em;
    line-height: 1.1em;
    text-align: center;
    color: #DA4480;
}

/* === TABLET === */

@media screen and (max-width: 1024px) {    
        
    
    
    
    
    .astro-test__banner-panel {
        width: 100%;
        height: 45%;
        border-radius: 0.4em;
        background: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .astro-test__banner {
        height: 80%;
        background: #fff;
        opacity: 0.8;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 0.4em;
    }
    .astro-test__banner-text {
        font-size: 1.2em;
    }
}

/* === SMALL DESKTOP === */



/* === PHONE === */

@media screen and (max-width: 414px) {    
    
    
    
    
    
    .astro-test__banner-panel {
        width: 100%;
        height: 24%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .astro-test__banner {
        height: 60%;
        background: #fff;
        opacity: 0.8;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .astro-test__banner-text {
        width: 80%;
        margin: 0 auto;
        font-style: normal;
        font-weight: bold;
        font-size: 0.96em;
        line-height: 1.2em;
        text-align: center;
        color: #DA4480;
    }
}